@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #171717;
  --background-hex: #D3DFE8;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

.login-title::before{
  content: "";
  display: block;
  width: 90px;
  height: 4px;
  margin-bottom: 1rem;
  background-color: #38509F;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
